/* Remove scrollbar and disable scroll */
html, body {
  padding: 0%;
  overflow: hidden;   /* Hides both horizontal & vertical scroll */
  height: 100%;       /* Ensure full viewport height */
  margin: 0;
  box-sizing: border-box;
  background-color: black;
}

.box{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

canvas{
  display: block;
  background: black;
  position: absolute;
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  top: 0;
  left: 0;
}